.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.fill-div {
  width:100%;
  height:100%;
}

.round-obj{
border-radius: 25px;
}

.round-img{
border-radius: 50%;
}

.nav-title{
padding-right:0;
font-family: Arial, Helvetica, sans-serif;
}

.center{
  margin: auto;
}

.jumbotron{
padding:20px;
background-color:white;	
vertical-align:middle;
}

.jumbotron-smol{
padding: 10px;
vertical-align:middle;
}

.space-apart{
padding-left:   5px;
padding-right:  5px;
}

.center-vertical{
vertical-align: middle;
}

.info-box{
text-align:center;
font-size:150%;
margin-top:auto;
margin-bottom:auto;
}

.thumbnail {
position: relative;
width:500px;
height:350px;
overflow: hidden;
}

.thumbnail-img {
width: auto;
height: auto;
}

.bg-custom{
background-color: rgba(0,75,255,0.5);
}

.title-font {
font-family: "Times New Roman", Times, serif;
}
.card-text{
height:50px;
overflow:hidden;
}

p h1 h2 {
font-family: "Times New Roman", Times, serif;
}
