.fill-div {
    width:100%;
    height:100%;
}

.round-obj{
	border-radius: 25px;
}

.round-img{
	border-radius: 50%;
}

.nav-title{
	padding-right:0;
}

.center{
    margin: auto;
}

.jumbotron{
	padding:20px;
	background-color:white;	
	vertical-align:middle;
}

.jumbotron-smol{
	padding: 10px;
	vertical-align:middle;
}

.space-apart{
	padding-left:   5px;
	padding-right:  5px;
}

.center-vertical{
	vertical-align: middle;
}

.info-box{
	text-align:center;
	font-size:150%;
	margin-top:auto;
	margin-bottom:auto;
}